build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
install_manifest.txt

main
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.obj

.idea/
.vscode/
*.code-workspace
.DS_Store

*.iml
cmake-build-debug*/
cmake-build-release*/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

Debug/
Release/
x64/
x86/
Win32/
ipch/
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.log

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.*.user
*.sln

.vscode/
.history/
*.code-workspace

*.xcodeproj/
*.xcworkspace/
DerivedData/
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3